{% extends 'base.html' %}

{% block title %}
    <title>Amongus</title>
{% endblock %}

{% block body %}
    <div class="container">
        <h1>Здравствуйте</h1>
        <h2>Ну типо пук-пук, я сделал сайт и подключил к ниму платежку(тестовая) спасибо что оценили его.</h2>>
        <a class="me-3 py-2 text-dark text-decoration-none " href="https://github.com/Blake-webm">&ensp; Мой Git</a>,<a class="me-3 py-2 text-dark text-decoration-none " href="https://telegram.org/dl">&ensp; Моя TG</a>, <a class="me-3 py-2 text-dark text-decoration-none " href="https://discord.gg/wxuHmVHb">&ensp; Моя DS</a>
    </div>
{% endblock %}