{% extends 'base.html' %}

{% block title %}
<title>BigShop</title>
{% endblock %}


{% block login %}
    {% if user %}
        <a class="me-3 py-2 text-blue text-decoration-none ">&ensp; &ensp;{{ user }}</a>
    {% else %}
        <a class="me-3 py-2 text-blue text-decoration-none " href="/sign_in">&ensp; &ensp;Вход</a>
{% endif %}
{% endblock %}


{% block body %}
  <div class="pricing-header p-3 pb-md-4 mx-auto text-center">
    <h1 class="display-4 fw-normal">Приколы легко и доступно</h1>
    <p class="fs-5 text-muted">Все сдешние приколы хороши по своему, но только те что вы добавите будет хороши по настоящему!!!</p>
  </div>

    <div class="card-deck mb-3 text-center">
        {% if data|length > 0 %}
            {% for el in data %}
        <div class="card mb-4 rounded-3 shadow-sm">
              <div class="card-header">
                <h4 class="my-0 fw-normal">{{ el.title }}</h4>
              </div>
              <div class="card-body">
                <h1 class="card-title pricing-card-title">{{ el.price }}<small class="text-muted fw-light">Руб</small></h1>
                <ul class="list-unstyled mt-3 mb-4">
                  <li>{{ el.Text }}</li>
                    {% if el.id_user == db_2 %}
                    <a href="/{{ el.id }}/update" class="w-100 btn btn-lg btn-outline-success">Изменить</a>
                    <a href="/{{ el.id }}/del" class="w-100 btn btn-lg btn-outline-danger">Удалить</a>
                    {% endif %}
                    {% if 1 == db_2 %}
                        <a href="/{{ el.id }}/update" class="w-100 btn btn-lg btn-outline-success">Изменить</a>
                        <a href="/{{ el.id }}/del" class="w-100 btn btn-lg btn-outline-danger">Удалить</a>
                {% endif %}
                </ul>
                <a href="/buy/{{ el.id }}" class="w-100 btn btn-lg btn-outline-primary">Приобрести прикол</a>
              </div>
            </div>
        {% endfor %}
        {% else %}
            <h3 class="display-1 fw-normal">Здесь еще пока нет приколов</h3>
        {% endif %}

  </div>
{% endblock %}